@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes LeftToRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
